.page {
  .page-title {
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;
    padding: 1em 10%;

    h2 {
      font-weight: normal;
      margin: 0;
    }
  }

  .page-body {
    width: 80%;
    margin: auto;
  }
}